.access__main{
    background-image: url(../img/fondo_registro.svg);
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}