.footer{
    background-color: var(--color__primary--variant);
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 0 $padding-horizontal;
}

.footer__buttons{
    display: inline-block;
}
.buttons__p{
    display: block;
}
.buttons__img{
    display: inline-block;
}