.header{
    background-color:var(--color__primary);
    padding:20px $padding-horizontal;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "logo enlaces iconos";

    @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "logo iconos"
                            "enlaces enlaces";
        row-gap: 25px;
    }
}
//MENU
.header__menu{
    width: 350px;
    grid-area: enlaces;
    align-self: center;
    justify-self: center;
}
.menu__list{
    padding: 0;
    display:flex;
    justify-content: space-between;
}
.menu__li{
    display: inline;
}
.menu__link{
    color: var(--color__text--dark);
}

//HEADER__RIGHT
.header__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: iconos;
    margin-left:40px;
}

//ICONO USUARIO
.header__user{
    display: block;
    position: relative;
    width:43px;
    height:43px;
    background-color: var(--color__background-icon);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 45px;
}

.user__img{
    transform-origin: center;
    position: absolute;
    top: 11.16px;
    left: 11.16px;
}

//BARRA DE BÚSQUEDA

.header__search {
    position: relative;
    display: inline-block;
    @include tablet{
        position:static;
    }
}
.search__input {
    box-sizing: border-box;
    color: var(--color__icon);
    width: 271px;
    border: none;
    border-radius:20px;
    height: auto;
    padding: 5px;
    padding-left: 10px;
    @include tablet{
        display:none;
    }
}
.search__icon {
    fill: var(--color__icon);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    left: unset;
    right: 12px;
    @include tablet{
        fill:var(--color__icon--dark);
        position:static;
        transform: unset;
    }
}
.search__input:focus{
    outline:none;
}


///////
/// 
/*
.mobile-nav {
    position: relative;
    height: 20px;

    .toggle-menu {
      position: absolute;
      right: 0rem;
      width: 40px;
      cursor: pointer;
      z-index: 1;
    }
    
    .main-menu {
      font-family: Archivo;
      font-size: 2rem;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;

      position: fixed;
      background-color: #d8e9da;
      flex-direction: column;
      align-items: flex-end;
      text-align: center;
      right: 0%;
      top: 2rem;
      display: none;



      .main-menulink {
        color: #122005;
        text-decoration: none;
        padding: 0;
        width: 100%;
        display: inline-block;
      } 
      .main-menuitem {
        padding: 0.5em;
      }
      @media (min-width: 680px) {
        display: none;
      }

      .main-menuitem:hover {
        background-color: #122005;
        .main-menulink{
          color: #95b799;
        }

      }
    }
  }
*/