
.selection__option{
    display: inline-block;
    width: 145px;
    height: 58px;
    color: var(--color__text);
    background-color: var(--color__gray-3);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include mobile{
        width: 80%;
    }
}
.selection__option--active{
    background-color: var(--color__background-icon);
    border-bottom: 2px solid var(--color__secondary--variant);
    cursor: auto;
}
.option__link{
    text-decoration: none;
    color:var(--color__text);
}
.selection__option--rounded{
    display: inline-block;
    padding: 5px 10px;
    color: var(--color__text);
    background-color: var(--color__gray-4);
    border-radius: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selection__option--rounded--active{
    background-color: var(--color__background-icon);
    border: 2px solid var(--color__primary);
    cursor: auto;
}